<h1>{{ article.title }}</h1>
<div>{% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}</div>
<div>{% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
{{ article.author }} @ {{ article.created_at }}</div>

<div>{{ article.content }}</div>
