{% if cart.item_count > 0 %}
  <h1>cart</h1>
  <form action="/cart" method="post" novalidate>
    {% for item in cart.items %}
      <div class="shopping-cart__item">
          <img class="shopping-cart__image" src="{{ item.image | img_url: '800x800' }}" alt="{{ item.product.title }}">
          <div class="shopping-cart__details">
            <span class="shopping-cart__title"><a href="{{ item.url }}" title="{{ item.product.title }}">{{ item.product.title }}</a></span>
            <span class="shopping-cart__price">{{ item.product.price | money}}</span>
          <span class="shopping-cart__quantity">
            <label for="updates_{{ item.key }}">Quantity:</label>
            <input id="updates_{{ item.key }}" class="cart__qty-input" name="updates[]" type="text"
                value="{{ item.quantity }}" min="0" pattern="[0-9]*"
                data-quantity-input data-quantity-item="{{ forloop.index }}" data-quantity-input-mobile></span>
          <p class="cart__remove">
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent" aria-label="Remove">Remove</a>
                    </p>
        </div>
          </div>
    {% endfor %}
    <div class="shopping-cart__subtotal">
        <span class="shopping-cart__subtotal-text"><strong>Subtotal:</strong> {{ cart.total_price | money }}</span>
      </div>
    <div class="shopping-cart__button-containers">
      <button type="submit" name="update">Update</button>
      <button class="button--colored" type="submit" name="checkout">Checkout</button>
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}
