{% assign quality = 'original' %}
{% assign hiQuality = 'original' %}

<div class="collection_container">
	<div class="collection">
		{% if settings.collection_heading_video_fallback %}
			<div class="collection_video_container">
				<div class="collection_video_overlay"></div>
				<video class="collection_video" autoplay muted loop playsinline preload disablePictureInPicture
					   poster="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/wiy-poster.PNG?v=1580061262">
					<source src="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/80202500_137666454321675_4020897754693855417_n.mp4?824" type="video/mp4">
				</video>
			</div>
		{% endif %}

		{% if collection.description %}
			<div class="collection__description">
				{{ collection.description }}
			</div>
		{% endif %}
	</div>

	<h1 class="collection_title visually-hidden">{{ collection.title }}</h1>

	<section class="product-grid">
		<script>
			function imageLoaded(image, imgSrc) {
				image.onload = null;
				image.src = imgSrc;
			}
		</script>
		{% for product in collection.products %}
			<div class="product-grid__card">
				<a href="{{ product.url | within: collection }}">
					{% assign image = product.featured_image %}
					<img onload="imageLoaded(this, '{{ image.src | img_url: hiQuality }}')" class="product-grid__image" src="{{ image.src | img_url: '500x500' }}" alt="{{ image.alt | escape }}">
					<div class="product-grid__details">
						<h3 class="product-grid__name">{{ product.title }}</h3>
						<span class="product-grid__price">{{ product.price | money }}</span>
						{% unless product.available %}<span class="product-price__sold-out"><strong>Sold Out</strong></span>{% endunless %}
					</div>
				</a>
			</div>
		{% else %}
			<p>no matches</p>
		{% endfor %}
	</section>
</div>

<script>
	/* Resize  */
	let glitchImages = document.getElementsByClassName("glitch_image");
	let glitchImageContainers = document.getElementsByClassName("glitch_container");

	resizeGlitchContainer();

	window.addEventListener('resize', resizeGlitchContainer);

	function resizeGlitchContainer() {
		for(let i = 0; i < glitchImageContainers.length; i++) {
			glitchImageContainers[i].style.height = (glitchImages[i].offsetHeight) + "px";
		}
	};
</script>


