<div class="collection_container">
	<section class="product-grid">
		{% for product in collection.products %}
			{% assign image = product.featured_image %}
			<div class="product-grid__card">
				<a class="product-grid__image-container" href="{{ product.url | within: collection }}">
					<img class="product-grid__image lazyload" data-src="{{ image.src | img_url: 'master' }}" src="" alt="{{ image.alt | escape }}">
				</a>

				<div class="product-grid__details">
					<h3 class="product-grid__name">{{ product.title }}</h3>
					<span class="product-grid__price">{{ product.price | money }}</span>

					{% unless product.available %}
						<span class="product-price__sold-out"><strong>Sold Out</strong></span>
					{% endunless %}
				</div>
			</div>

		{% else %}
			<p>no matches</p>

		{% endfor %}
	</section>
</div>
