<div class="page__container search_container">
  {% paginate search.results by 10 %}
    <form class="search__submit_container" action="/search" method="get" role="search">
      <input type="search" name="q" value="{{ search.terms | escape }}">
      <button class="search__submit" type="submit">search</button>
    </form>

    {% if search.performed %}
      {% for item in search.results %}
      <div class="search--result__container">
          {% if item.featured_image %}
              <a class="search--result__image--container" href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                  <img class="search--result__image" src="{{ item.featured_image.src | img_url: 'master' }}" alt="{{ item.featured_image.alt }}">
              </a>
          {% endif %}
          <h5 class="search--result__title">{{ item.title | link_to: item.url }}</h5>
      </div>
            {% else %}
          no results
      {% endfor %}
    {% endif %}

    {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
  {% endpaginate %}
</div>

