{%- for item in cart.items -%}
<div class="shopping-cart__item {{ item.id }}">
    <div class="shopping-cart__image_container">
        <img class="shopping-cart__image" src="{{ item.image | img_url: 'master' }}" alt="{{ item.product.title }}">
    </div>

    <div class="shopping-cart__details">
        <div class="shopping-cart__details_container">
            <span class="shopping-cart__title"><a href="{{ item.url }}" title="{{ item.product.title }}">{{ item.product.title }}</a></span>
            <span class="shopping-cart__price">{{ item.product.price | money}}</span>
            <span class="shopping-cart__size">{{ item.title | remove : item.product.title | remove: ' / ' | remove: '- '}}</span>
        </div>

        <div class="shopping-cart__inputs_container">
            <span class="shopping-cart__quantity visually-hidden">
                            <label for="updates_{{ item.key }}">Quantity:</label>
                            <input id="updates_{{ item.key }}" class="cart__qty-input" name="updates[]" type="text"
                                   value="{{ item.quantity }}" min="0" pattern="[0-9]*" oninput="updateTotalPrice()"
                                   data-quantity-input data-quantity-item="{{ forloop.index }}" data-quantity-input-mobile>
                        </span>
            <button class="cart__remove_1">Remove</button>
            <div>[{{ item.quantity }}]</div>
        </div>
    </div>
</div>
{%- endfor -%}
