{% if template contains 'product' %}
{% assign size_options = 'size' | split: ',' %}
{% assign has_size = false %}
{% assign size_index = 0 %}
{% for option in product.options %}  
  {% assign downcased_option = option | downcase %}
  {% if has_size == false and size_options contains downcased_option %}
    {% assign has_size = true %}
    {% assign size_index = forloop.index0 %}
  {% endif %}
{% endfor %}

{% if has_size %}
<div class="product-info__size-chart-button">
    <button class="product-info__size-chart-trigger">Size chart</button>
  </div>
<div id="size-chart-container" class="rte product-info__size-chart">
  <div id="size-chart-intrinsic">
    <button class="size-chart__close" aria-labeled="Close size cart">
      {% render 'icon-close' %}
      {% comment %}{% raw %}
        <img src="{{ 'icon-close.svg' | asset_url }}" alt="Close the size cart" aria-hidden="true">
      {% endraw %}{% endcomment %}
      <span class="visually-hidden">Close</span>
    </button>

    {% if product.type == 'T-Shirt' %}
      <div  onclick="showSizeChart('{{ 'size-chart_tshirt.jpg' | asset_url }}')">
        <img id="size-chart" src="{{ 'size-chart_tshirt.jpg' | asset_url }}" alt="Size chart for {{ product.type }}" />
      </div>

      {% elsif product.type == 'Shirt' %}
      <div onclick="showSizeChart('{{ 'size-chart_shirt.jpg' | asset_url }}')">
        <img id="size-chart" src="{{ 'size-chart_shirt.jpg' | asset_url }}" alt="Size chart for {{ product.type }}" />
      </div>

      {% elsif product.type == 'Jacket' %}
      <div  onclick="showSizeChart('{{ 'size-chart_jacket.jpg' | asset_url }}')" >
        <img id="size-chart" src="{{ 'size-chart_jacket.jpg' | asset_url }}" alt="Size chart for {{ product.type }}" />
      </div>

      {% elsif product.type == 'Shorts' %}
      <div  onclick="showSizeChart('{{ 'size-chart_shorts.jpg' | asset_url }}')">
        <img id="size-chart" src="{{ 'size-chart_shorts.jpg' | asset_url }}" alt="Size chart for {{ product.type }}" />
      </div>

      {% elsif product.type == 'Track Pants' %}
      <div  onclick="showSizeChart('{{ 'size-chart_track-pants.jpg' | asset_url }}')">
        <img id="size-chart" src="{{ 'size-chart_track-pants.jpg' | asset_url }}" alt="Size chart for {{ product.type }}" />
      </div>

      {% elsif product.type == 'Jeans' %}
      <div  onclick="showSizeChart('{{ 'size-chart_jeans.jpg' | asset_url }}')">
        <img id="size-chart" src="{{ 'size-chart_jeans.jpg' | asset_url }}" alt="Size chart for {{ product.type }}" />
      </div>

    {% endif %}
  </div>
</div>

<script type="text/javascript">
  let toggle = false;
  $('.product-info__size-chart-trigger, .size-chart__close').on('click', e => {
    toggle = !toggle;

    let size_chart_container = document.querySelector('#size-chart-container'),
        size_chart_intrinsic = document.querySelector('#size-chart-intrinsic'),
        product_info = document.querySelector('#product__info');

    size_chart_container.style.height = toggle ? size_chart_intrinsic.offsetHeight + "px" : 0;
    product_info.classList[!product_info.classList.contains('chart-visible') ? 'add' : 'remove']('chart-visible');
  });
</script>
{% endif %}
{% endif %}
