<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
	{% comment %}{# Set Metadata #}{% endcomment %}

	{% comment %}{# Set Metadata: Character set #}{% endcomment %}
	<meta charset="utf-8">

	{% comment %}{# Set Metadata: Browser stuff | see: https://stackoverflow.com/questions/6771258/what-does-meta-http-equiv-x-ua-compatible-content-ie-edge-do #}{% endcomment %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% comment %}{# Set Metadata: Viewport control | see: https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag #}{% endcomment %}
	<meta name="viewport" content="width=device-width, user-scalable=no, shrink-to-fit=no, initial-scale=1, maximum-scale=1"/>

	{% comment %}{# Set Metadata: Browser theme color | see: https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android #}{% endcomment %}
	<meta name="theme-color" content="{{ settings.color_button }}">

	{% comment %}{# Set Metadata: Canonical url | see: https://support.google.com/webmasters/answer/139066?hl=en #}{% endcomment %}
	<link rel="canonical" href="{{ canonical_url }}">

	{% render 'social-meta-tags' %}

	{% comment %}{# Set Metadata: Page description | see: https://moz.com/learn/seo/meta-description #}{% endcomment %}
	{% if page_description %}
		<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{% comment %}{# Set Favicon #}{% endcomment %}
	{%- if settings.favicon -%}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{%- endif -%}

	{% comment %}{# Generate Title #}{% endcomment %}
	{%- capture seo_title -%}

		{% comment %}{# Add search heading and results #}{% endcomment %}
		{%- if request.page_type == 'search' and search.performed == true -%}
			{{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
		{%- else -%}
			{{ page_title }}
		{%- endif -%}

		{% comment %}{# Add tags to title #}{% endcomment %}
		{%- if current_tags -%}
			{%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
		{%- endif -%}

		{% comment %}{# Add page to title unless on the first page #}{% endcomment %}
		{%- if current_page != 1 -%}
			&ndash; {{ 'general.meta.page' | t: page: current_page }}
		{%- endif -%}

		{% comment %}{# Add shop name if page title in settings doesn't have it todo:evaluate #}{% endcomment %}
		{%- assign escaped_page_title = page_title | escape -%}
		{%- unless escaped_page_title contains shop.name -%}
			&ndash; {{ shop.name }}
		{%- endunless -%}

	{%- endcapture -%}

	{% comment %}{# Remove whitespace from start and end of concatnated title #}{% endcomment %}
	<title>{{ seo_title | strip }}</title>

	{% comment %}{# Preloaded Stylesheets and Scripts #}{% endcomment %}
	{{ 'theme.scss.css' | asset_url | stylesheet_tag }}
	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
	{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
	{{ 'cart.min.js' | asset_url | script_tag }}

	{% comment %}{# Deferred Scripts #}{% endcomment %}
	<script type="text/javascript" src="{{ 'global.js' | asset_url }}" defer></script>
	<script type="text/javascript" src="{{ 'glitch.js' | asset_url }}" defer></script>

	{% comment %}{# Blahh #}{% endcomment %}
	{{ content_for_header }}
</head>

{% comment %}{#  todo: Change body page class selector  #}{% endcomment %}
{% comment %}{# todo: optimize classes #}{% endcomment %}
{% comment %}{# class="template-{{ request.page_type | handle }}" #}{% endcomment %}
<body class="template--{{ template | split: '/' | join : '-' | split: '.' | join: '-'}} loading">

	{% comment %}{# ------ Page Loader ------ #}{% endcomment %}
	<div id="loader">
	<img id="loader-image" src="{{ 'loading-logo.gif' | asset_url }}" alt="Loading..."/>
</div>

	{% comment %}{# ------ Background Video on Index ------ #}{% endcomment %}
	{% if template == 'index' %}
		{% comment %}{# todo: #}{% endcomment %}
		{%- if settings.home_video_url_webm and settings.home_video_url_mp4 -%}
			<div class="video-container">
				<video autoplay muted loop playsinline preload disablePictureInPicture
					   poster="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/wiy-poster-5.PNG?v=1580149853">
					<source src="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/WhatsApp_Video_2020-01-27_at_1.13.33_PM.mp4?958" type="video/mp4">
				</video>
			</div>
		{%- endif -%}
	{% endif %}

    {% comment %}{# ------ Marquee Text ------ #}{% endcomment %}
    {% comment %}{# todo: Change classes to `marquee-[level-name]` #}{% endcomment %}
	{%- if settings.marquee_text -%}
		<div class="alert-banner">
			<div class="alert-banner__marquee">
				<span>{{ settings.marquee_text }}</span>
				<span>{{ settings.marquee_text }}</span>
				<span>{{ settings.marquee_text }}</span>
			</div>
		</div>
	{%- endif -%}

	{% comment %}{# ------ Cart ------ #}{% endcomment %}
	<div class="header-cart">
		{% comment %}{# Show Count #}{% endcomment %}
		{% if cart.item_count > 0 %}
		<div class="header-cart__count">
			<span id="header-cart__text" class="header-cart__count__text" aria-label="Amount of items in cart">[{{ cart.item_count }}]</span>
		</div>

		{% else %}
			<div class="header-cart__count">
				<span id="header-cart__text" class="header-cart__count__text" aria-label="Amount of items in cart"></span>
			</div>

		{% endif %}

		{% comment %}{# Cart Icon #}{% endcomment %}
		<button class="header-cart__button" type="button">
			<span class="visually-hidden">Shopping Cart</span>
            {% render 'icon-bag' %}
		</button>
	</div>

	{% comment %}{# ------ Side Nav ------ #}{% endcomment %}
	<aside class="side-bar">
		{% comment %}{# Logo and Rights #}{% endcomment %}
		<div class="side-bar__header-logo">
			{% comment %}{# Logo Link #}{% endcomment %}
			{% comment %}{# todo: Localize title #}{% endcomment %}
			<a href="/" title="CSNV Home">
				<img src="{{ 'logo.gif' | asset_url }}" alt="CSNV Logo"/>
			</a>

			{% comment %}{# All Rights Reserved #}{% endcomment %}
			{% comment %}{# todo: Localize #}{% endcomment %}
			<small class="side-bar__header-logo__reg">All Rights Reserved <br>
			&copy; 2020 CSNV studio</small>
		</div>

		{% comment %}{# Nav #}{% endcomment %}
		<nav class="side-bar__nav">
			{% comment %}{# Mobile Menu Button #}{% endcomment %}
			<button class="side-bar__menu-button"><span>Menu</span></button>

			{% comment %}{# Nav Link List #}{% endcomment %}
			<ul>
				{% for link in linklists.main-menu.links %}
					{% comment %}{# Retrieve Index Link Handle #}{% endcomment %}
					{% assign child_list_handle = link.title | handleize %}

					{% comment %}{# Dropdown Link on Non-blank Link List #}{% endcomment %}
					{% if linklists[child_list_handle].links != blank %}
						<li class="side-bar__nav__dropdown">

							{% comment %}{# Link #}{% endcomment %}
							{% comment %}{# todo: Localize #}{% endcomment %}
							<button class="side-bar__nav__dropdown-trigger" type="button">
								{{ link.title }}
							</button>

							{% comment %}{# Dropdown Menu for Link #}{% endcomment %}
							<ul class="side-bar__nav__dropdown-container" aria-expanded="false">
								{% for childLink in linklists[child_list_handle].links %}
									<li class="side-bar__link-item" onclick="window.location.href = '{{ childLink.url }}'">
										{% comment %}{# todo: Localize #}{% endcomment %}
										<a href="{{ childLink.url }}" title="{{ childLink.title | escape }}">
											{{ childLink.title | escape}}
										</a>
									</li>
								{% endfor %}
							</ul>
						</li>

					{% comment %}{# Regular Link on Blank Link List #}{% endcomment %}
					{% else %}
						{% comment %}{# {# todo: Localize #} #}{% endcomment %}
						<li class="side-bar__link-item" onclick="window.location.href = '{{ link.url }}'">
							<a href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape}}</a>
						</li>

					{% endif %}
				{% endfor %}

				{% comment %}{# Customer Account #}{% endcomment %}
				{% if shop.customer_accounts_enabled %}

					{% comment %}{# Add Account and Log Out Link #}{% endcomment %}
					{% if customer %}
						{% comment %}{# todo: Localize #}{% endcomment %}
						<li class="side-bar__link-item" onclick="window.location.href = '{{ childLink.url }}'">
							<a href="/account" title="Go to your account">
							Account <br /><span class="account-name">({{ customer.email }})</span></a>
						</li>

						<li class="side-bar__link-item" onclick="window.location.href = '{{ childLink.url }}'">
							<a href="/account/logout" title="Log out">Log out</a>
						</li>

					{% comment %}{# Add Login and Register Link #}{% endcomment %}
					{% else %}
						{% comment %}{# todo: Localize #}{% endcomment %}
						<li class="side-bar__link-item" onclick="window.location.href = '{{ childLink.url }}'">
							<a href="/account/login" title="Log in to your account">Log in</a>
						</li>

						<li class="side-bar__link-item" onclick="window.location.href = '{{ childLink.url }}'">
							<a href="/account/register" title="Register for an accountt">Register</a>
						</li>

					{% endif %}
				{% endif %}
			</ul>

			{% comment %}{# Search Icon and Bar #}{% endcomment %}
			<div class="side-bar__search" tabindex="0">
				<form class="side-bar__search-form" action="{{ routes.search_url }}">
					{% comment %}{# Label #}{% endcomment %}
					{% comment %}{# todo: Localize #}{% endcomment %}
					<label for="q" class="visually-hidden">Search</label>

					{% comment %}{# Input #}{% endcomment %}
					{% comment %}{# todo: optimize ID and Name #}{% endcomment %}
					<div class="side-bar__search-mask">
						<input type="text" placeholder="Search..." id="q" name="q">
					</div>

					{% comment %}{# Search Button #}{% endcomment %}
					<button class="side-bar__search-button">
						{% render "icon-search" %}

						<span class="visually-hidden">Search</span>
					</button>
				</form>
			</div>
		</nav>

		{% comment %}{# todo: evaluate | delete #}{% endcomment %}
		<div class="side-bar__mask"></div>
	</aside>

	{% if template == 'index' %}
		<style>
			@media screen and (min-width: 736px) {
				.side-bar {
					height: 100%;
					margin-left: 0;
					padding: 2em;
					background-color: rgba(255, 255, 255, 0.4);
					-webkit-box-shadow: 0 0 34px 0 rgba(255,255,255,.5);
					box-shadow: 0 0 34px 0 rgba(255,255,255,.5);

					animation-name: dropHeight;
					animation-timing-function: ease;
					animation-duration: 2000ms;
				}

				@supports (backdrop-filter: blur(1px)) {
					.side-bar {
						backdrop-filter: blur(10px);
						background-color: rgba(255, 255, 255, 0.2);
					}
				}
				
				@keyframes dropHeight {
					from {
						height: 0;
					}

					to {
						height: 100%;
					}
				}
			}
		</style>
	{% endif %}

	{% comment %}{# ------ Main Content Container ------ #}{% endcomment %}
	<div class="container">
		<main>
			{% comment %}{# Ignores Content for Index #}{% endcomment %}
			{% comment %}{# todo: evaluate #}{% endcomment %}
			{% if template != 'index' %}
				{{ content_for_layout }}
			{% endif %}
		</main>
	</div>

	{% comment %}{# ------ Shopping Cart Menu ------ #}{% endcomment %}
	<div class="shopping-cart">
		{% comment %}{# Cart #}{% endcomment %}
		<div class="shopping-cart__content">
			{% comment %}{# Close Button #}{% endcomment %}
			<button class="shopping-cart__close" aria-labeled="Close shopping cart">
				{% render "icon-close" %}

				{% comment %}{# todo: localize #}{% endcomment %}
				<span class="visually-hidden">Close</span>
			</button>

			{% comment %}{# No Items in Cart #}{% endcomment %}
			{% if cart.item_count == 0 %}
				<div id="shopping-cart__empty-text" class="shopping-cart__empty-text">The shopping bag is empty, try refreshing the page.</div>

				<div class="empty__bag_video_container">
					<a href="/cart">
						<video class="empty__bag_collection_video" autoplay muted loop playsinline preload disablePictureInPicture
							   poster="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/wiy-poster-3.PNG?v=1580146792">
							<source src="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/6494e618-2175-47d1-a407-84e2c5d85bc6.MP4?940" type="video/mp4">
						</video>
					</a>
				</div>

			{% comment %}{# Items are in Cart #}{% endcomment %}
			{% else %}
				<form action="{{ routes.cart_url }}" method="post" novalidate class="cart">

					{% comment %}{# Items in Cart #}{% endcomment %}
					<div class="shopping-cart__items">

						{% comment %}{# Cart Title #}{% endcomment %}
						{% comment %}{# todo: localize #}{% endcomment %}
						<h1 id="cart-title">Your Bag</h1>

						<div id="cart-item__container">
							{% render 'cart-item' %}
						</div>

					</div>

					{% comment %}{# Cart Subtotal #}{% endcomment %}
					<div class="shopping-cart__subtotal">
						<span class="shopping-cart__subtotal-text">
							{% comment %}{# todo: Localize #}{% endcomment %}
							<span>Subtotal</span><span id="cart__total_price">{{ cart.total_price | money }}</span>
						</span>
					</div>

					{% comment %}{# Cart Footer #}{% endcomment %}
					<div class="shopping-cart__footer">
						{% comment %}{# todo: Localize #}{% endcomment %}
						<p>Shipping & taxes calculated at checkout</p>

						{% comment %}{# todo: Localize #}{% endcomment %}
						<p><strong>INTERNATIONAL ORDERS MAY BE SUBJECT TO CUSTOMS DUTIES OR IMPORT TAXES</strong></p>
					</div>

					{% comment %}{# Submit Button #}{% endcomment %}
					<div class="shopping-cart__button-containers">
						<!-- <a class="shopping-cart__empty-cart" href="/cart/clear">Empty Cart</a> -->

						{% comment %}{# todo: Localize #}{% endcomment %}
						<button class="shopping-cart__checkout button--colored" name="checkout" action="/checkout/">
							Checkout
						</button>
					</div>

				</form>

			{% endif %}
		</div>
	</div>

	{% comment %}{# Footer #}{% endcomment %}
	<footer class="footer">
		<div class="social__footer">
			<ul> {% comment %}{# todo: Localize #}{% endcomment %}
				{% comment %}{# Facebook Link #}{% endcomment %}
				{% if settings.facebook_link %}
					<li>
						<a href="{{ settings.facebook_link }}" class="side-bar__social__link side-bar__social--facebook" target="_blank">
							{% render "icon-facebook" %}
							<span class="visually-hidden">Facebook</span>
						</a>
					</li>
				{% endif %}

				{% comment %}{# Instagram Link #}{% endcomment %}
				{% if settings.instagram_link %}
					<li>
						<a href="{{ settings.instagram_link }}" class="side-bar__social__link side-bar__social--instagram" target="_blank">
							{% render "icon-instagram" %}
							<span class="visually-hidden">Instagram</span>
						</a>
					</li>
				{% endif %}

				{% comment %}{# Twitter Link #}{% endcomment %}
				{% if settings.twitter_link %}
					<li>
						<a href="{{ settings.twitter_link }}" class="side-bar__social__link side-bar__social--twitter" target="_blank">
							{% render "icon-twitter" %}
							<span class="visually-hidden">Twitter</span>
						</a></li>
				{% endif %}

				{% comment %}{# TikTok Link #}{% endcomment %}
				{% if settings.tiktok_link %}
					<li>
						<a href="{{ settings.tiktok_link }}" class="side-bar__social__link side-bar__social--tiktok" target="_blank">
							{% render "icon-twitter" %}
							<span class="visually-hidden">Tik Tok</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</footer>

	{% comment %}{# ------ Loading Script ------ #}{% endcomment %}
	<script>
		CartJS.init({{ cart | json }});

		let removeTriggers = document.getElementsByClassName('cart__remove_1');
		let itemContainer = document.getElementsByClassName('shopping-cart__item');
		let indexCallback = 0;

		Array.from(removeTriggers).forEach(trigger => {
			let localIndexCallback = indexCallback;
			trigger.addEventListener("click", function () {
				let variantID = itemContainer[localIndexCallback].classList[1];

				$.ajax({
					type: 'POST',
					url: '/cart/change.js',
					data: "quantity=0&line=" + (localIndexCallback + 1),
					success: function () {
						location.reload();
					},
					error: function (e) {
						location.reload();
					}
				});
			});
			indexCallback++;
		});

		// window.addEventListener("load", function () {
		// 	let loader = document.getElementById("loader");
		//
		// 	setTimeout(function () {
		// 		document.body.style.overflowY = "scroll";
		// 	}, 500);
		//
		// 	setTimeout(function () {
		// 		loader.style.opacity = "0";
		// 	}, 1000);
		// } );
	</script>
</body>
</html>
